.header {
  background-image: url(/assets/bg1.jpg);
  content: normal;
  height:max-content;
  /* background-color: rgb(2, 26, 47); */
  color: white;
  display: flex;
  justify-content: center;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerlist {
  display: flex;
  gap: 40px;
  cursor: pointer;
  padding-top: 10px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItem.active {
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px;
}

.headerDesc {
  margin: 20px 0px;
}

/* .headerBtn{
  background-color:white;
  color: 
  font-weight: bolder;
  border-radius: 12px;
  border: none;
  padding: 10px;
  cursor: pointer;
} */

.headerSearch {
  height: 35px;
  background-color: rgb(252, 249, 245);
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
  position: static;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgrey;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
  color: lightgrey
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  bottom: 50px;
}


/* Booking Section Starts */

.options {
 top: 50px;
  background-color: white;
  color: gray;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, alph0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optioncountbtn {
  width: 30px;
  height: 30px;
  border: 10x solid rgb(70, 70, 253);
  color: rgb(70, 70, 253);
  cursor: pointer;
  background-color: white;
}

optioncountbtn:disabled {
  cursor: not-allowed;
}

.headerBtn {
  width: 100px;
  padding: 10px;
  background-color: rgb(2, 26, 47);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}